<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
  <body id="resume">
    <div class="edu">
      <p>Hello. My name is Harris Loundy. I am currently a full time graduate student at Eastern University in the Data Science program.
         Prior to Eastern, I studied Mathematics at UC Santa Cruz with the intent of pursuing a graduate degree in Statistics or a similar field.
         I pursued a degree in Math due to my interest in sports analytics. That is why I chose to work with baseball statistics datasets for
         my capstone project.</p>
      <p>I currently live in San Jose, California. I have admittedly limited work experience, with two years at a candy store and about six months at a post office as a carrier.</p>
      <p>In my free time I enjoy playing video games, watching sports, and exercising. It is my dream to one day work in a sports analytics department for a professional team. I am excited to begin my career as a Data
         Scientist and am looking forward to what the future holds.</p>
    </div>
    {% endblock %}

  </body>
</html>
