{% extends "base.html" %}
{% block content %}
<p id="m1">This model takes in various baseball statistics from two consecutive prior years and uses them to determine home run totals for the third year. Some metrics are only
taken from year two or are averages. The model was trained on data from the 2021 and 2022 seasons, with 2023 home runs as the target value. Note that the model was trained
only on players who averaged 100 or more plate appearances for the two consecutive years.</p>
<br>
<p id="m1">The data for the model was taken from <a id="fangraphs" href="https://www.fangraphs.com/">Fangraphs</a>. Links to all the datasets used in training the model can be found below:</p>
<ul class="links">
  <li><a href="https://www.fangraphs.com/leaders/war?season=2022">WAR 2022</a></li>
  <li><a href="https://www.fangraphs.com/leaders/war?season=2021">WAR 2021</a></li>
  <li><a href="https://www.fangraphs.com/leaders/major-league?pos=all&stats=bat&lg=all&qual=y&type=0&season=2023&month=0&season1=2023&ind=0">Standard 2023</a></li>
  <li><a href="https://www.fangraphs.com/leaders/major-league?pos=all&stats=bat&lg=all&qual=y&type=2&month=0&ind=0&startdate=&enddate=&season1=2022&season=2022">Batted Ball 2022</a></li>
  <li><a href="https://www.fangraphs.com/leaders/major-league?pos=all&stats=bat&lg=all&qual=y&type=24&month=0&ind=0&startdate=&enddate=&season1=2022&season=2022">Statcast 2021</a></li>
  <li><a href="https://www.fangraphs.com/leaders/major-league?pos=all&stats=bat&lg=all&qual=y&type=2&month=0&ind=0&startdate=&enddate=&season1=2021&season=2021">Batted Ball 2021</a></li>
  <li><a href="https://www.fangraphs.com/leaders/major-league?pos=all&stats=bat&lg=all&qual=y&type=24&month=0&ind=0&startdate=&enddate=&season1=2021&season=2021">Statcast 2021</a></li>
</ul>
<div class="variables">
<h3>The variables used in the model are:</h3>
<ul>
  <li>Barrels: (Essentially a measure of ideal contact. Calculated by measuring launch angle and exit velocity off a batted ball. Taken from year two. Values from 2023 ranged from 2 to 86.)</li>
  <li>Max Exit Velocity: (The hardest hit ball by the player. Taken from year two. Values from 2023 ranged from 104 to 121.2.)</li>
  <li>Plate Appearances: (The number of plate appearances for the player. Taken from year two. Values from 2023 ranged from 100 (for model purposes) to 753.)</li>
  <li>Slugging Percentage: (A measure of total bases per at bat. Outcomes are weighted differently (ex: a double is worth more than a single), then added together and divided by number of at bats. Average used. Values from 2023 ranged from .296 to .654.)</li>
  <li>Expected Weighted On-base Average (xwOBA): (A measure of offensive performance. Attempts to remove factors outside the hitters control, such as defense, and uses quality of contact measures
    like exit velocity and launch angle in addition to weighted outcomes (walks, home runs, etc). Average used. Values from 2023 ranged from .271 to .463.)</li>
  <li>Wins Above Replacement (WAR): (Offensive WAR in this case. Attempts to derive value by taking all facets of a players offensive game and produce a value comparing them to a 0 win player (replacement level).
    Can be negative. Average used. Values from 2023 ranged from -2.0 to 8.3.)</li>
  <li>Med%: (Percentage of balls hit classified by Baseball Info Solutions as being hit with medium speed. Average used. Values for 2023 ranged from .404 to .684.)</li>
  <li>HR/FB: (Total home runs divided by total fly balls. Taken for the second season only. Values for 2023 ranged from .009 to .312.)</li>
</ul>
</div>
<br>
<p id="m1">The image below features model predictions vs reality on the test portion of the dataset. The y-axis represents the actual or predicted home run totals, and the x-axis represents the most correlated feature, Barrels for 2022.</p>
<figure class="figure">
  <img class="img" src="static/Actual_vs_Predicted.png" alt="">
  <figcaption class="caption">Predicted vs actual home run totals on the test set</figcaption>
</figure>
<br>
<p>The top three home run hitters of 2023 and their predicted 2024 totals:</p>
<ul>
  <li>Matt Olson: 31</li>
  <li>Kyle Schwarber: 30</li>
  <li>Pete Alonso: 30</li>
</ul>
<p>The home run predictions above were generated by using the 2022 datasets (and the 2023 Standard dataset) and the following datasets from Fangraphs for 2023:</p>
<ul>
  <li><a href="https://www.fangraphs.com/leaders/war">WAR 2023</a></li>
  <li><a href="https://www.fangraphs.com/leaders/major-league?pos=all&stats=bat&lg=all&qual=y&type=2&month=0&ind=0&startdate=&enddate=&season1=2023&season=2023">Batted Ball 2023</a></li>
  <li><a href="https://www.fangraphs.com/leaders/major-league?pos=all&stats=bat&lg=all&qual=y&type=24&month=0&ind=0&startdate=&enddate=&season1=2023&season=2023">Statcast 2023</a></li>
</ul>
<p id="m1">You can enter data for the model to generate a prediction for below, and the prediction will appear on a new page after clicking Predict.</p>
<br>
<form method="post">
  {{form.hidden_tag()}}
  {{form.maxEV_2022.label}}
  <br>
  {{form.maxEV_2022}}
  <br>
  {{form.Barrels_2022.label}}
  <br>
  {{form.Barrels_2022}}
  <br>
  {{form.SLG_2021.label}}
  <br>
  {{form.SLG_2021}}
  <br>
  {{form.SLG_2022.label}}
  <br>
  {{form.SLG_2022}}
  <br>
  {{form.xwOBA_2021.label}}
  <br>
  {{form.xwOBA_2021}}
  <br>
  {{form.xwOBA_2022.label}}
  <br>
  {{form.xwOBA_2022}}
  <br>
  {{form.WAR_2021.label}}
  <br>
  {{form.WAR_2021}}
  <br>
  {{form.WAR_2022.label}}
  <br>
  {{form.WAR_2022}}
  <br>
  {{form.Medper_2021.label}}
  <br>
  {{form.Medper_2021}}
  <br>
  {{form.Medper_2022.label}}
  <br>
  {{form.Medper_2022}}
  <br>
  {{form.PA_2022.label}}
  <br>
  {{form.PA_2022}}
  <br>
  {{form.HRdivFB_2022.label}}
  <br>
  {{form.HRdivFB_2022}}
  <br>
  {{form.submit()}}
</form>
{% endblock %}
