<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>
  <body id=resume>



    <div class="edu">
      <h4>Education</h4>
      <p>Eastern University
         <br>
         03/2023-
         <br>
         Currently enrolled as a graduate student in Data Science</p>
         <p>University of California Santa Cruz
            <br>09/2019-03/2022
            <br>Graduated with a B.A. in Mathematics</p>
        <p>West Valley College
           <br>01/2015-12/2018
           <br>Studied Math and Chemistry - no degree earned</p>
        <p>San Jose State University
           <br>08/2013-12/2014
           <br>Studied Chemical Engineering - no degree earned</p>
        <p></p>
        <h4>Work Experience</h4>
        <p>Amazon Relief Carrier at US Post Office in Los Gatos
           <br>03/2019-11/2019
           <br>Dailiy actions included: Sorting and delivering mail and packages</p>
        <p>Sales Associate at Willow Glen Sweet Shoppe
           <br>03/2015-03/2017
           <br>Daily actions included: Working registers, stocking, cleaning, serving gelato, counting registers at closing</p>
       </div>
       <figure class="figure1">
         <img class="pphoto" src="static/Personal_photo.jpg" alt="">
       </figure>


  </body>
{% endblock %}
</html>
